:host {
    display: block;
}

a:not(href) {
    cursor: pointer;
}

header {
    background-color: #0071BB;
    width: 100%;
    height: 60px;
    display: table;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10;
}

header>* {
    display: table-cell;
    vertical-align: middle;
    color: white;
}

header aside {
    padding-left: 15px;
    padding-right: 15px;
    width: 350px;
    min-width: 350px;
}

header aside img.logo {
    height: 35px;
    width: auto !important;
    position: relative;
    cursor: pointer;
}

header aside .btn-menu {
    float: right;
    border: none;
    background: transparent;
    font-size: 25px;
    color: white;
    cursor: pointer;
}

header aside .btn-menu:focus {
    outline: none;
}

header aside .btn-menu:active {
    opacity: .7;
}

header aside.profile {
    font-size: 16px;
    text-align: right;
}

header aside.profile .budget {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    color: #666666;
}

header aside.profile .label {
    position: absolute;
    right: -33%;
    bottom: -36%;
    background-color: #00B00B;
    font-size: 9pt;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

header aside.profile img {
    margin-left: 4px;
    margin-right: 4px;
    position: relative;
}

header nav h5>*>a,
header nav h5>*>a:link,
header nav h5>*>a:hover,
header nav h5>*>a:target,
header nav h5>*>a:visited,
header aside.profile>div>a,
header aside.profile>div>a:link,
header aside.profile>div>a:target,
header aside.profile>div>a:visited,
header aside.profile>div>a:hover {
    color: white;
    text-decoration: none;
}

.btn-no-radius,
.btn-no-radius .btn {
    /* border-radius: unset; */
}


/*MOBILE*/

.hidden-sm.hidden-md.hidden-lg aside {
    padding: 10px 15px;
    padding-left: 0;
}

.img-xs {
    float: left;
    width: 65px;
    height: 100%;
    background-color: #fff;
    padding: 9px;
    text-align: center;
}

.hidden-sm.hidden-md.hidden-lg .xs-btn {
    float: left;
}

.xs-notification .label {
    position: absolute;
    right: -33%;
    bottom: -36%;
    background-color: #00B00B;
    font-size: 9pt;
    text-align: center;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

@media (max-width: 768px) {
    aside {
        width: calc(100vw - 65px) !important;
        min-width: unset !important;
    }
    .notification-list div {
        height: 67px;
    }
    .xs-notification-drop {
        width: 350px;
        top: 40px !important;
        right: -45px !important;
    }
    .xs-entity {
        left: -151px !important;
    }
}

@media (max-width: 415px) {
    .xs-profile {
        left: -362px !important;
        width: 405px !important;
        top: 47px !important;
    }
}

@media (max-width: 376px) {
    .xs-notification .fa-bell {
        font-size: 22px !important;
    }
    .xs-profile {
        left: -266px !important;
        width: 300px !important;
        top: 47px !important;
    }
    .xs-entity {
        left: -108px !important;
        width: 288px !important;
        min-width: unset !important;
    }
}

@media (max-width: 320px) {
    h5 {
        width: 57% !important;
    }
    .xs-profile {
        left: -266px !important;
        width: 310px !important;
        top: 47px !important;
    }
    .xs-notification-drop {
        width: 288px !important;
    }
}


/*FIM MOBILE*/