<section class="menu">
    <div class="search">
        <input #inputSearch id="inputSearchId" name="inputSearchId" placeholder="{{ labelPlaceholder || 'Type your search here'}}"
               [(ngModel)]="keySearch" (focusin)="onFocusInSearchInput($event)" (focusout)="onFocusOutSearchInput($event)"
               (keyup)="filterUpMenu($event)" (keydown)="filterDownMenu($event)" (ngModelChange)="changeFilter($event)"/>
    </div>
    <nav id="navMenuRoot">
        <ul class="menu-root">
            <div *ngIf="loading" style="padding: 10px;">{{ labelLoading || 'Loading...'}}</div>
            <!-- Favorite Menu -->
            <iatec-menu-item *ngIf="!keySearch && menuItemFavorite?.length > 0" [item]="favoriteItem" #favority>
                <ul>
                    <iatec-menu-item *ngFor="let item of menuItemFavorite"
                                     [item]="item"
                                     (clickMenu)="onClickMyFavority($event)"
                                     (clickFavorite)="onClickFavorite($event)">
                    </iatec-menu-item>
                </ul>
            </iatec-menu-item>
            <!-- Tree menu -->
            <iatec-tree-menu *ngIf="!keySearch" [ngModel]="value" [parentId]="parentId"
                             [templateMenuItem]="templateMenuItem" (clickMenu)="onClickMenu($event)"
                             (clickFavorite)="onClickFavorite($event)" (itemLostFocus)="onFocusOutMenuItem()"
                             (showFloatMenu)="onShowFloatMenu($event)"></iatec-tree-menu>
            <!-- Search Menu -->
            <iatec-menu-item *ngFor="let item of menuItemSearch; let i= index" [item]="item"
                             [template]="templateMenuItem" (clickMenu)="onClickSearch($event)"
                             [attr.data-menu-index]="i" [tabindex]="i"></iatec-menu-item>
        </ul>
    </nav>
    <iatec-menu-float [layoutMain]="templateFloatMain" [layoutList]="templateFloatList" [(id)]="idRootFloatMenu"
                      [labelFavorite]="favoriteItem.menuItemModel.title"
                      [favorites]="menuItemFavorite" [ngModel]="value" [iconClassLarge]="iconClassLarge"
                      [parentId]="parentId" (clickMenu)="onClickMenuFloat($event)"></iatec-menu-float>
    <footer>
        <a *ngIf='showLinkTermsUse' id='termsOfUseId' (click)='onClickTermsOfUse()' class='float-xl-left'>{{ labelTermsOfUse || 'Terms of Use' }}</a><p [ngClass]="showLinkTermsUse ? 'float-xl-right': 'float-xl-center'">{{ labelVersion || 'Version' }}: {{ version || 'unknow' }}</p>
    </footer>
</section>
